color-lime-green = #0f9d58
color-dark-cyan = #085731
color-pure-blue = #009bd6
color-strong-blue = #006abc
color-strong-red = #bd000b
color-dark-pynk = #ab084e
color-yellow = #f8c63a

color-black = #364347
color-black-b= #5e696d
color-gray = #eff2f3
color-gray-b = #cfd3d6
color-white = #ffffff