.Evento
	background-color: color-dark-cyan
	display: inline-block
	overflow: hidden
	padding: 0px 10px
	text-align: left
	vertical-align: top

	.Evento-content
		color: color-white
		font-size: 0.875rem
		margin-left: 50px
		a
			color: color-white
			font-weight: bold
			text-decoration: none
			display: inline
			&:hover
				text-decoration: underline

		p
			font-weight: light
			margin: 0
			padding: 0

	.Evento-logo
		font-size: 0px
		float: left
		a
			img
				border-radius: 50%

	.Evento-content, .Evento-logo
		display: block
		vertical-align: top