.Header
    background: color-lime-green
    font-size: 0px
    font-weight: bold
    text-transform: uppercase
    overflow: hidden

    .Header-buttons
        color: color-white
        margin-top: -1px
        
        .Header-buttons-searchButton
            padding-right: 0px !important
            span
                padding-right: 10px
                border-right: 2px solid color-white
        .Header-buttons-searchButton, .Header-buttons-menuButton
            background-color: transparent
            border-radius: 10%
            border: none
            font-size: 0px
            outline: none
            &:hover
                background-color: color-dark-cyan
    
    .Header-logo
        font-size: 0px
        overflow: hidden

    .Header-nav
        font-size: 16px
        line-height: 35px
        ul
            list-style: none
            li
                margin: 0px
                a
                    color: color-white
                    text-decoration: none

    .Header-searchBox
        font-size: 14px
        form
            position: relative
            input
                @extend .u-input
                padding: 7.5px 20px 7.5px 10px
            input:focus + span
                color: color-black
            span
                bottom: 10px
                color: color-gray-b
                position: absolute
                right: 10px

.Header--searchHide
    .Header-buttons
        .Header-buttons-searchButton
            display: none !important

.Header--whiteVersion
    background: color-white
    .Header-buttons
        color: color-black-b
        .Header-buttons-searchButton
            span
                border-right: 2px solid color-black-b
        .Header-buttons-searchButton, .Header-buttons-menuButton
            background-color: transparent
            &:hover
                background-color: rgba(color-lime-green,75%)
                color: color-white
    .Header-nav
        ul
            li
                a
                    color: color-black-b
        
    
@media screen and (min-width:320px)
    .Header
        position: relative
        overflow: hidden
        .Header-buttons
            display: inline-block
            float: right
            position: absolute
            right: 10px
            top: 10px
            .Header-buttons-searchButton, .Header-buttons-menuButton
                padding: 5.5px 10px
                span
                    font-size: 24px

        .Header-container
            padding: 0px

        .Header-logo
            display: block
            padding: 10px !important
        .Header-nav
            background-color: color-dark-cyan
            display: none
            padding: 10px
            ul
                margin: 0px
                padding: 0px
                li
                    border-bottom: 1px solid rgba(color-white,30%)
                    display: block
                    padding: 10px 0px
                    text-align: center
                    &:first-child
                        padding: 0px 0px 10px 0px 
                    &:last-child
                        border-bottom: none
                        padding: 10px 0px 0px 0px 
                    a
                        border-radius: 0%
                        display: block
                        &:hover
                            background-color: color-lime-green
        .Header-searchBox
            background-color: color-dark-cyan
            border-bottom: 1px solid rgba(color-white,30%)
            display: none
            padding: 20px 10px
            form
                input
                    display: block
                    width: 100%
    .Header--menuActive
        .Header-nav
            display: block

    .Header--searchActive
        .Header-searchBox
            display: block

    .Header--whiteVersion
        .Header-nav
            background-color: color-gray
            ul
                li
                    border-bottom: 1px solid rgba(color-black-b,30%)
                    a
                        &:hover
                            background-color: rgba(color-lime-green,75%)
                            color: color-white

        .Header-searchBox
            background-color: color-gray
@media screen and (min-width:510px)
    .Header
        font-size: 0px !important
        overflow: hidden
        .Header-buttons 
            position: static
            .Header-buttons-menuButton
                display: none

            .Header-buttons-searchButton, .Header-buttons-menuButton
                padding: 9.5px 10px
                span
                    font-size: 16px

        .Header-container
            overflow: hidden
            padding: 10px
        .Header-logo
            float: left
            font-size: 0px !important
            margin: 0px !important
            padding: 0px !important
        .Header-nav
            background-color: transparent
            font-size: 16px
            line-height: 35px
            margin: 0
            padding: 0px 10px 0px 0px
            ul
                margin: 0px
                padding: 0px
                li
                    border: none
                    display: inline-block
                    margin: 0px 
                    padding: 0px !important
                    a
                        border-radius: 5%
                        padding: 0px 5px
                        &:hover
                            background-color: color-dark-cyan
        
        .Header-searchBox
            background-color: transparent
            border: none
            margin-right: 10px
            padding: 0px
            form
                input
                    display: block
                    width: 100%

        .Header-buttons, .Header-nav, .Header-searchBox
            float: right !important
        .Header-logo, .Header-buttons, .Header-nav
            display: inline-block
    
    .Header--menuActive
        .Header-buttons
            .Header-buttons-menuButton
                display: none
            .Header-buttons-searchButton
                display: inline-block

    .Header--searchActive
        .Header-buttons
            .Header-buttons-menuButton
                position: static
                display: inline
                span
                    padding-left: 10px
                    border-left: 2px solid color-white
            .Header-buttons-searchButton
                display: none
        .Header-nav
            display: none

    .Header--whiteVersion
        .Header-nav
            ul
                li
                    a
                        &:hover
                            background-color: rgba(color-lime-green,75%)
                            

@media screen and (min-width:768px)
    .Header
        .Header-nav
            ul
                li
                    a
                        padding: 0px 10px
    
    .Header--searchActive
        .Header-buttons
            .Header-buttons-menuButton
                display: none
        .Header-nav
            display: inline-block

            
@media screen and (min-width:1021px)
    .Header
        .Header-container
            margin: 0px auto
            width: 1000px