@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-txy863');
	src:url('fonts/icomoon.eot?#iefix-txy863') format('embedded-opentype'),
		url('fonts/icomoon.woff?-txy863') format('woff'),
		url('fonts/icomoon.ttf?-txy863') format('truetype'),
		url('fonts/icomoon.svg?-txy863#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\e600";
}
.icon-heart2:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e602";
}
.icon-calendar:before {
	content: "\e603";
}
.icon-dating:before {
	content: "\e604";
}
.icon-earth:before {
	content: "\e605";
}
.icon-checkmark:before {
	content: "\e60b";
}
.icon-list:before {
	content: "\e60a";
}
.icon-arrow-left:before {
	content: "\e606";
}
.icon-arrow-down:before {
	content: "\e607";
}
.icon-arrow-up:before {
	content: "\e608";
}
.icon-arrow-right:before {
	content: "\e609";
}
.icon-ruler:before {
	content: "\e629";
}