.Investigacion
	background-color: color-white
	border-radius: 5px
	padding: 20px 10px
	text-align: left
	
	.Investigacion-content
		border-bottom: 1px solid color-gray-b

		a
			display: block
			font-size: 1.25rem

		p
			margin: 10px 0px

	.Investigacion-info
		overflow: hidden
		padding: 10px 0px 0px 0px
		
		a
			float: left
			img
				border-radius: 50%
				font-size: 0px

		p
			float: right
			margin: 0
			padding: 5.5px 0px

		a, p
			font-size: 0.875rem