@import "normalize.styl"
@import "nib"
@import "colores.styl"
@import "fuentes.styl"
@import "iconos.styl"
@import "utilidades.styl"
@import "header.styl"
@import "footer.styl"
@import "pieza.styl"
@import "search-pieza.styl"
body
    background-color: color-gray-b
    color: color-black-b
    font-family: 'source_sans_pro' !important
    font-size: 16px