.u-container
    padding: 0.625rem

.u-input
    background-color: color-white
    border-radius: 5px
    border: 1px solid color-gray-b
    box-sizing: border-box;
    color: color-black
    font-weight: normal
    outline: none
    padding: 10px
    &:focus
        border: 1px solid color-pure-blue
        box-shadow: 0 0 5px color-pure-blue;
    &::-webkit-input-placeholder
        color: color-gray-b
    &:-moz-placeholder
        color: color-gray-b 
    &::-moz-placeholder  /* Firefox 19+ */
        color: color-gray-b 
    &:-ms-input-placeholder
        color: color-gray-b

.u-enlaces
    color: color-strong-blue
    font-size: 1rem
    text-decoration: none
    &:hover
        text-decoration: underline