@import "iconos.styl"
.u-container
    padding: 0.625rem

.u-input
    background-color: color-white
    border-radius: 5px
    border: 1px solid color-gray-b
    box-sizing: border-box
    color: color-black
    font-weight: normal
    outline: none
    padding: 10px
    &:focus
        border: 1px solid color-pure-blue
        box-shadow: 0px 0px 5px color-pure-blue;
    &::-webkit-input-placeholder
        color: color-gray-b
    &:-moz-placeholder
        color: color-gray-b 
    &::-moz-placeholder  /* Firefox 19+ */
        color: color-gray-b 
    &:-ms-input-placeholder
        color: color-gray-b
.u-boton
    background-color: color-pure-blue
    border-radius: 5px
    border: none
    box-sizing: border-box
    color: color-white
    font-weight: bold
    outline: none
    padding: 10px 20px
    &:hover, &:focus
        background-color: color-pure-blue-l
        box-shadow: 1px 1px 5px color-black;
    &:active
        background-color: color-pure-blue-b

.u-checkbox, .u-radio
    position: relative
    label
        cursor: pointer
        display: block
        margin-bottom: 10px
        overflow: hidden
        position: relative
        &:before
            background-color: color-white
            border: 1.5px solid color-gray-b
            content: ""
            display: inline-block
            height: 24px
            line-height: 26px
            margin-right: 10px
            vertical-align: middle
            width: 24px
                 
    input[type=radio], input[type=checkbox]
        display: none
        
    input[type=radio]:checked + label:before, input[type=checkbox]:checked + label:before
        font-family: 'icomoon'
        border: 1.5px solid color-black-b
        color: color-pure-blue
        font-size: 24px
        text-align: center

.u-checkbox
    label
        &:before
            border-radius: 20%
    input[type=checkbox]:checked + label:before
        content: "\e60b" 

.u-radio
    label
        &:before
            border-radius: 50%
    input[type=radio]:checked + label:before
        content: "\e60d" 
    
    
.u-select
    display: inline-block
    font-family: icomoon
    select
        appearance: none
        background-color: color-white
        border-radius: 5px
        border: 1px solid color-gray-b
        box-sizing: border-box
        color: color-black
        font-weight: normal
        outline: none
        padding: 7.5px 35px 7.5px 5px
        background: url(../img/arrow-down.png) no-repeat 97% center
        > option
            background-color: white
            color: color-black-b
            padding: 10px
            display: block
        &:after
            content: "\e607"
            margin-left: -20px
        &:focus
            background-color: color-gray
            background-image: url(../img/arrow-down-select.png)
        &:hover
            border-color: color-pure-blue
            background-image: url(../img/arrow-down-select.png)
            box-shadow: 0px 0px 5px color-pure-blue

.u-enlaces
    color: color-strong-blue
    font-size: 1rem
    text-decoration: none
    &:hover
        text-decoration: underline

.u-mensajeResultados
    color: color-black
    font-weight: normal
    margin-bottom: 10px

.wrapper
    min-height: 100%
    position: relative
    overflow: hidden

*[data-categoria="figurilla"]
    background-color: color-pure-blue !important
