.Voluntario
	background-color: color-white
	border-radius: 5px
	padding: 20px 10px
	p
		margin: 0
	.Voluntario-datos
		border-bottom: 1px solid color-gray-b
		text-align: center
		h5
			color: color-strong-blue
		figure
			border-radius: 50%
			height: 128px
			overflow: hidden
			position: relative
			width: 128px
			text-align: center
			img
				left: -50%
				position:absolute;
				top:0
				width: 275px

		h5, figure, p
			margin-bottom: 10px
	.Voluntario-investigaciones
		font-size: 0.875rem
		padding: 10px 0px 0px 0px
		text-align: left
		ul
			list-style: none
			margin: 0
			padding: 0
			li
				a
					font-size: 1em

.Voluntario--Proyecto
	.Voluntario-datos
		border-bottom: none
	.Voluntario-investigaciones
		display: none
