{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Acerca del museo de historia natural Víctor Salvador De León Toledo</title>
	<link rel="stylesheet" href='{%static "css/main-about.css" %}'>
</head>
<body>
	{% include "partials/header.html" %}
	<section class="Informacion">
		<div class="Informacion-container">
			<h3>Museo Historia Natural Víctor Salvador De León Toledo</h3>
			<figure>
				<img src='{%static "img/xela02.jpg" %}' alt="Museo Víctor Salvador de León Toledo">
			</figure>
			<section class="Informacion-content">
				<p>Recorrer los museos en Quetzaltenango es trasladarse al pasado, conocer la historia que marca el presente, la cual está llena de simbolismos, tradiciones, formas de vida, arte y costumbres de civilizaciones anteriores.</p>
				<p>El Museo de Historia Natural Víctor Salvador de León Toledo, situado en la Casa de la Cultura, inició con la recolección de antigüedades alrededor de la década de 1950, pero en diciembre de 1960 fue cuando abrió sus puertas formalmente.</p>
				<section class="Informacion-content-datos">
					<p><strong>Horarios de atención: </strong><br/>
					Lunes a viernes 9:00 A.M. - 17:00 P.M.<br/>Sábado 9:00 A.M. - 13:00 P.M.</p>
					<p><strong>Dirección:</strong><br/>
					7a Calle frente al Parque Centroamérica, entre 12 y 11 avenida del Centro Histórico de Quetzaltenango.</p>
					<p><strong>Telefono:</strong><br/>
					(+502) 7788-5544</p>	
				</section>
			</section>	
		</div>
	</section>
	<section class="Voluntarios">
		<div class="Voluntarios-container">
			<h4 class="u-mensajeResultados">Voluntarios del museo</h4>
			<section id="Voluntarios-content" class="Voluntarios-content">
				
			</section>
		</div>
	</section>
	<section class="Contacto">
		<div class="Contacto-container">
			<section class="Contacto-mensaje">
				<h3>Contáctanos</h3>
				<p>Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
			</section>
			<section class="Contacto-formulario">
				<form action="mailto:jescalantegt@gmail.com" id="Presentacion-form" method="POST">
					<label for="GET-name">Nombre:</label>
					<input id="GET-name" type="text" name="name" placeholder="Ingresa nombre" class="u-input" />
					<label for="GET-email">Correo electrónico:</label>
					<input id="GET-email" type="email" name="email" placeholder="Ingresa tu correo electrónico" class="u-input" />
					<label for="GET-message">Mensaje:</label>
					<textarea name="message" id="GET-message" cols="30" rows="5" placeholder="Ingresa tu mensaje" class="u-input"></textarea>
					<input type="submit" class="u-boton">
				</form>
			</section>
		</div>
	</section>
	{% include "partials/footer.html" %}
	<script id="voluntario-template" type = "text/template">
		{% include "partials/voluntario.html" %}
	</script>
	<script src="../static/js/main-about.js"></script>
</body>
</html>