{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Colecciones</title>
	<link rel="stylesheet" href='{%static "css/main-colecciones.css" %}'>
</head>
<body>
	{% include "partials/header.html" %}
	<section class="Categoria">
		<div class="Categoria-container">
			<a href="#" class="u-enlaces">Colección prehispanica</a><span class="icon-arrow-right"></span>
			<a href="#" class="u-enlaces">Cerámica</a><span class="icon-arrow-right"></span>
			<a href="#" class="u-enlaces">Figurillas</a>
		</div>	
	</section>
	<section class="Search">
		<div class="Search-container">
			<section class="Search-options">
				<p>Filtra por categoria:</p>
				<section class="Search-selection">
					<div class="u-select">
						<select id="selectCategoria">
					      	<option>Todas</option>
					      	<option>Cerámica</option>
					      	<option>Fototeca</option>
					      	<option>Botanica</option>
					    </select>
					</div>
				</section>
				<section class="Search-categoria">
					<ul>
						<li><a data-categoria="figurilla" href="#">Figurillas</a></li>
						<li><a href="#">Tiesto</a></li>
						<li><a href="#">Malacate</a></li>
					</ul>
				</section>
			</section>
			<section class="Search-results">
				<article class="SearchPieza">
						<section class="Pieza-logo">
							<a href="#">
								<img src='{%static "img/olmeca.jpg" %}' alt="Pieza"/>
							</a>	
						</section>
						<section class="Pieza-content">
							<a class="u-enlaces" href="#">Toci, la diosa abuela</a>
							<section class="Pieza-content-info">
								<p><span class="icon-earth">&nbsp;Guatemala</span>
								<span class="icon-ruler">&nbsp;23x30 cm</span>
								<span class="icon-dating">&nbsp;Siglo XVII</span></p>
							</section>
							<p>Toci es la diosa abuela o diosa vieja que enseñaba a las mujeres los secretos de la vida doméstica y la coquetería.</p>
							<section class="Pieza-actions">
								<a data-categoria="figurilla" href="#">Figurilla</a>
								<span class="Pieza-actions-iconHeart"></span>
							</section>
						</section>
				</article>
				<article class="SearchPieza">
						<section class="Pieza-logo">
							<a href="#">
								<img src='{%static "img/olmeca.jpg" %}' alt="Pieza"/>
							</a>	
						</section>
						<section class="Pieza-content">
							<a class="u-enlaces" href="#">Toci, la diosa abuela</a>
							<section class="Pieza-content-info">
								<p><span class="icon-earth">&nbsp;Guatemala</span>
								<span class="icon-ruler">&nbsp;23x30 cm</span>
								<span class="icon-dating">&nbsp;Siglo XVII</span></p>
							</section>
							<p>Toci es la diosa abuela o diosa vieja que enseñaba a las mujeres los secretos de la vida doméstica y la coquetería.</p>
							<section class="Pieza-actions">
								<a href="#">Figurilla</a>
								<span class="Pieza-actions-iconHeart"></span>
							</section>
						</section>
				</article>
			</section>
		</div>
	</section>
	{% include "partials/footer.html" %}
	<script src="../static/js/main-index.js"></script>
</body>
</html>