{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Colecciones</title>
	<link rel="stylesheet" href='{%static "css/main-colecciones.css" %}'>
</head>
<body>
	{% include "partials/header.html" %}
	<section class="Categoria">
		<div class="Categoria-container">
			<ul id="Categoria-Header">
				<li><a href="/colecciones/" class="u-enlaces">Colecciones</a></li>
			</ul>
		</div>	
	</section>
	<section class="Search">
		<div class="Search-container">
			<section class="Search-options">
				<p>Filtra por categoria:</p>
				<section class="Search-selection">
					<div class="u-select">
						<select id="selectCategoria">
							<option disabled selected>Seleccione una categoria</option>
					    </select>
					</div>
				</section>
				<section class="Search-categoria">
					<ul id="Categorias-content">
					</ul>
				</section>
			</section>
			<section id="Search-results" class="Search-results">
			</section>
		</div>
	</section>
	{% include "partials/footer.html" %}
	<script id="pieza-template" type = "text/template">
		{% include "partials/pieza.html" %}
	</script>
	<script id="categoria-template" type = "text/template">
		{% verbatim %}
		{% if tipo == 1 %}
		<a class="u-enlaces" href="/colecciones/?coleccion={{idColeccion}}">{{ nombre }}</a>
		{% endif %}
		{% if tipo == 2 %}
		<a class="u-enlaces" href="/colecciones/?coleccion={{idColeccion}}&categoria={{idCategoria}}">{{ nombre }}</a>
		{% endif %}
		{% if tipo == 3 %}
		<a class="u-enlaces" href="/colecciones/?coleccion={{idColeccion}}&categoria={{idCategoria}}&clasificacion={{idClasificacion}}">{{ nombre }}</a>
		{% endif %}
		{% endverbatim %}
	</script>
	<script id="categoria-select-template" type = "text/template">{% verbatim %}{{ nombre }}{% endverbatim %}</script>
	<script src="../static/js/main-colecciones.js"></script>
</body>
</html>