{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Eventos en el museo</title>
	<link rel="stylesheet" href='{%static "css/main-eventos.css" %}'>
</head>
<body>
	{% include "partials/header.html" %}
	<section class="Eventos">
		<div class="Eventos-container">
			<h4 class="u-mensajeResultados">Listado de proximos eventos</h4>
			<section id="Eventos-content" class="Eventos-content">
			</section>
		</div>
	</section>
	{% include "partials/footer.html" %}
	<script id="evento-template" type = "text/template">
		{% include "partials/evento-card.html" %}
	</script>
	<script src='{%static "js/main-eventos.js" %}'></script>
</body>
</html>