<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Museo historia natural Víctor Salvador De León Toledo</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/main-index.css">
</head>
<body>
	<header class="Header">
		<div class="Header-container">
			<a class="Header-logo" href="/">
				<img src="../static/img/eff2f3.png" alt="Museo de historia natural" height="35"/>
			</a>
			<nav class="Header-nav" id="Header-nav">
				<ul>
					<li><a href="#">Colecciones</a></li>
					<li><a href="#">Eventos</a></li>
					<li><a href="#">Acerca de</a></li>
				</ul>
			</nav>
			<div class="Header-buttons">
				<button class="Header-buttons-searchButton" id="Header-buttons-searchButton">
					<span class="icon-search"></span>
				</button>	
				<button class="Header-buttons-menuButton" id="Header-buttons-menuButton"><span class="icon-list"></span></button>
			</div>
			<div class="Header-searchBox">
				<form action="" id="Header-searchBox-form">
					<input id="GET-search" type="search" name="search" placeholder="Ingresa tu busqueda">
					<span class="icon-search"></span>
				</form>
            </div>
		</div>
	</header>
</html>