{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Museo historia natural Víctor Salvador De León Toledo</title>
	<link rel="stylesheet" href='{%static "css/main-index.css"%}'>
</head>
<body>
	{% include "partials/header.html" %}
	<section class="Presentacion">
		<div class="Presentacion-container">
			<figure class="Presentacion-logo">
				<img src='{%static "img/RanaBlanco.png" %}' alt="">
			</figure>
			<section class="Presentacion-content">
				<h1>Pasillos llenos de historia</h1>
				<h3>Adéntrate en un paseo a través del tiempo y encuentra mundos perdidos.</h3>
				<form action="/busqueda/" id="Presentacion-form">
					<input id="GET-search" type="search" name="search" placeholder="Busca piezas o investigaciones">
					<span class="icon-search"></span>
				</form>
			</section>
		</div>
	</section>
	<section class="Eventos">
		<div class="Eventos-container">
			<a href="/eventos/">Eventos</a>
			<section id="Eventos-content" class="Eventos-content">
				
			</section>
		</div>
	</section>
	<section class="Propuestas">
		<div class="Propuestas-container">
			<h4>¡Nos hemos renovado!</h4>
			<section class="Propuestas-content">
				<article class="Propuesta">
					<figure>
						<img src='{%static "img/revitalizado.jpg" %}' alt="Pieza" height="140" width="220" />
					</figure>
					<h5>Revitalizado</h5>
					<p>Nos hemos renovado, visita nuestra exhibición en espacios remodelados, gracias al trabajo del proyecto de Revitalización.</p>
				</article>
				<article class="Propuesta">
					<figure>
						<img src='{%static "img/coleccion.JPG" %}' alt="Pieza" height="140" width="220" />
					</figure>
					<h5>Amplia Colección</h5>
					<p>Déjate llevar por los objetos  (más de 5000) de nuestras  5 colecciones desde animales preservados, hasta vasijas y herramientas de culturas milenarias.</p>
				</article>
				<article class="Propuesta">
					<figure>
						<img src='{%static "img/multi.jpg" %}' alt="Pieza" height="140" width="220" />
					</figure>
					<h5>En todas partes</h5>
					<p>Accede desde cualquier dispositivo a nuestra nueva plataforma web.</p>
				</article>
			</section>
		</div>
	</section>
	<section class="Piezas">
		<div class="Piezas-container">
			<h4 class="u-mensajeResultados">Tus piezas favoritas</h4>
			<section id="Piezas-content" class="Piezas-content">
				
			</section>
		</div>
	</section>
	<script id="pieza-template" type = "text/template">
		{% include "partials/pieza.html" %}
	</script>
	<script id="evento-template" type = "text/template">
		{% include "partials/evento.html" %}
	</script>
	{% include "partials/footer.html" %}
	<script src='{%static "js/main-index.js" %}'></script>
</body>
</html>