{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Museo historia natural Víctor Salvador De León Toledo</title>
	<link rel="stylesheet" href='{%static "css/main-index.css"%}'>
</head>
<body>
	{% include "partials/header.html" %}
	<section class="Presentacion">
		<div class="Presentacion-container">
			<figure class="Presentacion-logo">
				<img src='{%static "img/Jugadores_de_pelota-300x200.jpg" %}' alt="">
			</figure>
			<section class="Presentacion-content">
				<h1>Propuesta de valor principal</h1>
				<h3>Grumpy wizards make toxic brew for the evil Queen and Jack.</h3>
				<form action="/busqueda/" id="Presentacion-form">
					<input id="GET-search" type="search" name="search" placeholder="Ingresa tu busqueda">
					<span class="icon-search"></span>
				</form>
			</section>
		</div>
	</section>
	<section class="Eventos">
		<div class="Eventos-container">
			<a href="/eventos/">Eventos</a>
			<section id="Eventos-content" class="Eventos-content">
				
			</section>
		</div>
	</section>
	<section class="Propuestas">
		<div class="Propuestas-container">
			<h4>Titulo de la sección para las propuestas de valor</h4>
			<section class="Propuestas-content">
				<article class="Propuesta">
					<figure>
						<img src='{%static "img/propuesta_valor.png" %}' alt="Pieza" height="140" width="220" />
					</figure>
					<h5>Propuesta de valor I</h5>
					<p>We overhauled our documentation with all new and more detailed code examples. And we're now supporting Foundation with a new forum and expert training so you can get started building even faster.</p>
				</article>
				<article class="Propuesta">
					<figure>
						<img src='{%static "img/propuesta_valor.png" %}' alt="Pieza" height="140" width="220" />
					</figure>
					<h5>Propuesta de valor II</h5>
					<p>For the nerd in all of you,we've built a new command line tool to spin up projects fast and added Libsass, speeding up your SCSS changes by 5X. Our HTML Templates have even been brought up to speed.</p>
				</article>
				<article class="Propuesta">
					<figure>
						<img src='{%static "img/propuesta_valor.png" %}' alt="Pieza" height="140" width="220" />
					</figure>
					<h5>Propuesta de valor III</h5>
					<p>For the nerd in all of you, we've built a new command line tool to spin up projects fast and added Libsass.</p>
				</article>
			</section>
		</div>
	</section>
	<section class="Piezas">
		<div class="Piezas-container">
			<h4 class="u-mensajeResultados">Piezas guardadas</h4>
			<section id="Piezas-content" class="Piezas-content">
				
			</section>
		</div>
	</section>
	<script id="pieza-template" type = "text/template">
		{% include "partials/pieza.html" %}
	</script>
	<script id="evento-template" type = "text/template">
		{% include "partials/evento.html" %}
	</script>
	{% include "partials/footer.html" %}
	<script src='{%static "js/main-index.js" %}'></script>
</body>
</html>