{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Investigacion</title>
	<link rel="stylesheet" href='{%static "css/main-investigacion.css" %}'>
</head>
<body>
	{% include "partials/header.html" %}
	
	<section class="Piezas">
		<div class="Piezas-container">
			<h4 class="u-mensajeResultados">Piezas relacionadas</h4>
			<section id="Piezas-content" class="Piezas-content">
				
			</section>	
		</div>
	</section>
	{% include "partials/footer.html" %}
	<script id="InvestigacionDetail-template" type = "text/template">
		{% verbatim %}
		<div class="InvestigacionDetail-container">
			<section class="InvestigacionDetail-header">
				<p class="u-enlaces">{{ titulo }}</p>
				<section class="Investigacion-info">
					<a href="#" class="u-enlaces">
						<img src='{{ userFoto }}' alt="Museo de historia natural" height="24" width="24"><p>&nbsp;{{ editor }}</p></a>
					<p>{{ fecha|date('d-m-Y')}}</p>
				</section>
			</section>
			
			<section class="InvestigacionDetail-content">
				<p>{{ contenido }}</p>
				<section class="InvestigacionDetail-content-referencias">
					<p>Referencias</p>
					<ul>
						{% for link in links %}
						<li><a href="{{ link.link }}" class="u-enlaces referencia">{{ link.link }}</a></li>
						{% endfor %}	
					</ul>
				</section>
			</section>
		</div>
		{% endverbatim %}
	</script>
	<script id="pieza-template" type = "text/template">
		{% include "partials/pieza.html" %}
	</script>
	<script src='{%static "js/main-investigacion.js" %}'></script>
</body>
</html>