{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Pieza</title>
	<link rel="stylesheet" href='{%static "css/main-pieza.css" %}'>
</head>
<body>
	{% include "partials/header.html" %}
	<section class="Categoria">
		<div class="Categoria-container">
			<a href="#" class="u-enlaces">Colección prehispanica</a><span class="icon-arrow-right"></span>
			<a href="#" class="u-enlaces">Cerámica</a><span class="icon-arrow-right"></span>
			<a href="#" class="u-enlaces">Figurillas</a>
		</div>	
	</section>
	
	<section class="Investigaciones">
		<div class="Investigaciones-container">
			<h4 class="u-mensajeResultados">Investigaciones</h4>
			<section id="Investigaciones-content" class="Investigaciones-content">
				
			</section>	
		</div>
	</section>
	{% include "partials/footer.html" %}
	<script id="PiezaDetail-template" type = "text/template">
		<div class="PiezaDetail-container">
			{% verbatim %}
			<section class="PiezaDetail-header">
				<h5>{{nombre}}</h5>
				<section class="PiezaDetail-header-info">
					<p><span class="icon-earth">&nbsp;{{procedencia}}</span>
					<span class="icon-dating">&nbsp;{{fechamiento}}</span></p>
				</section>
			</section>
			{% endverbatim %}
			<section class="PiezaDetail-galeria">
				<img class="PiezaDetail-galeria-perfil" src='{%static "img/olmeca.jpg" %}' alt="pieza">
			</section>
			{% verbatim %}
			<section class="PiezaDetail-content">
				<p>{{descripcion}}</p>
			</section>
			{% endverbatim %}
		</div>
	</script>
	<script id="investigacion-template" type = "text/template">
		{% include "partials/investigacion.html" %}
	</script>
	<script src='{%static "js/main-pieza.js" %}'></script>
</body>
</html>