<footer class="Footer" id="Footer">
	<div class="Footer-container">
		<div class="Footer-options">
			<section class="Footer-nav">
				<h5>Acerca de</h5>
				<ul>
					<li><a href="#">El proyecto</a></li>
					<li><a href="#">Equipo de trabajo</a></li>
					<li><a href="#">Feedback</a></li>
				</ul>
			</section>
			<section class="Footer-contact">
				<h5>Contacto</h5>
				<ul>
					<li><p><strong>Dirección:&nbsp;</strong> <a href="#">Contenido</a href="#"></p></li>
					<li><p><strong>Correo Electronico:&nbsp;</strong> <a href="#">correo@gmail.com</a href="#"></p></li>
					<li><p><strong>Télefono:&nbsp;</strong> <a href="#">(+502) 7767-7744</a href="#"></p></li>
				</ul>
			</section>
		</div>
		<section class="Footer-proyecto">
			<div class="Footer-proyecto-logo">
				<a href="#">
					<img src="../static/img/logo_grupo.png" alt="Grupo de proyectos" height="50"/>
					<h4>Grupo de proyectos</h4>
				</a>
			</div>
			<p>Una <strong>donación</strong> hecha por los estudiantes de <strong>ingenieria en informatica y sistemas</strong> de la <strong>universidad Rafael Landívar campus Quetzaltenango</strong></p>
			<p>Copyright ©2014, All Rights Reserved</p>
		</section>
	</div>
</footer>
	