{% load staticfiles %}
<!--<article class="Pieza">-->
<section class="Pieza-logo">
	<a href="#">
		<img src='{%static "img/olmeca.jpg" %}' alt="Pieza"/>
	</a>	
</section>
{% verbatim %}
<section class="Pieza-content">
	<a class="u-enlaces" href="#">{{ nombre }}</a>
	<section class="Pieza-content-info">
		<p><span class="icon-earth">&nbsp;{{ procedencia }}</span>
		<span class="icon-dating">&nbsp;Siglo XVII</span></p>
	</section>
	<p>{{ descripcion }}</p>
	<section class="Pieza-actions">
		<a href="#">{{ categoria }}</a>
		<span class="Pieza-actions-iconHeart"></span>
	</section>
</section>
{% endverbatim %}