<article class="Pieza">
	<section class="Pieza-logo">
		<a href="#">
			<img src="../static/img/olmeca.jpg" alt="Pieza" height="140" width="190" />
		</a>	
	</section>
	<section class="Pieza-content">
		<a class="u-enlaces" href="#">Toci, la diosa abuela</a>
		<p>Toci es la diosa abuela o diosa vieja que enseñaba a las mujeres los secretos de la vida doméstica y la coquetería.</p>
		<section class="Pieza-actions">
			<a href="#">Figurilla</a>
			<span class="Pieza-actions-iconHeart"></span>
		</section>
	</section>
</article>